{% extends "personal/header.html" %}

{% block content %}

	<!-- Navigation -->
	{% include 'personal/snippets/mainnav.html' %}

    <!-- Header -->
    {% include 'personal/snippets/pageheader.html' %}

    <!-- Services Section -->
    {% include 'personal/snippets/section/services.html' %}

    <!-- Portfolio Grid Section -->
    {% include 'personal/snippets/section/portfolio.html' %}

    <!-- About Section -->
    {% include 'personal/snippets/section/about.html' %}

    <!-- Team Section -->
    {% include 'personal/snippets/section/team.html' %}

    <!-- Clients Aside -->
    {% include 'personal/snippets/asideclients.html' %}

    <!-- Contact Section -->
    {% include 'personal/snippets/section/contact.html' %}

    <!-- Footer -->
    {% include 'personal/snippets/pagefooter.html' %}

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    {% include 'personal/snippets/modal/portfolio1.html' %}
    
    <!-- Portfolio Modal 2 -->
    {% include 'personal/snippets/modal/portfolio2.html' %}
    
    <!-- Portfolio Modal 3 -->
    {% include 'personal/snippets/modal/portfolio3.html' %}
    
    <!-- Portfolio Modal 4 -->
    {% include 'personal/snippets/modal/portfolio4.html' %}
    
    <!-- Portfolio Modal 5 -->
    {% include 'personal/snippets/modal/portfolio5.html' %}
    
    <!-- Portfolio Modal 6 -->
    {% include 'personal/snippets/modal/portfolio6.html' %}

{% endblock %}